<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'fuz6rfk',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="stylesheet" href="./assets/style/all.css">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container    ">
        <a class="navbar-brand" href="index.html">Navbar <img src="" alt=""></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="course.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">當月課表</a>
            </li>
          </ul>
          <ul class=" d-flex flex-column flex-lg-row">
            <li><a href="reserve.html" class="btn">立即預約</a></li>
            <li><a href="" class="btn">聯絡我們</a></li>
          </ul>
        </div>
      </div>
    </nav>

<!-- 固定在右側社群連結 -->
    <!-- <div class=" position-fixed">
      <ul class="list-unstyled ">
        <li><a href="#"> 1 </a></li>
        <li><a href="#">2  </a></li>
        <li><a href="#"> 3 </a></li>
      </ul>
    </div> -->


    <%- contents %>

    <footer class="footer bg-secondary">
      <div class="container">
        <div>
          <div class="d-lg-flex flex-column flex-lg-row justify-content-lg-between">
            <h3  class="text-white">現在訂閱，獲得課程優惠碼！</h3>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <button type="button" class="btn btn-primary">訂閱</button>
            </div>
          </div>  
              <div class=" d-flex justify-content-between">
                <a href="index.html"><img src="./assets/images/DOYOGA-footer.png" alt=""></a>
                <ul class="d-flex ">
                  <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/facebook.svg" alt=""></a></li>
                  <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/instagram-alt.svg" alt=""></a></li>
                  <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/line.svg" alt=""></a></li>
                </ul>
              </div>
              <ul class="list-unstyled ">
                <li><a class="text-white" href="">課程介紹</a></li>
                <li><a class="text-white" href="">瑜珈空間</a></li>
              </ul>
              <ul class="d-md-flex ">
                <li><a href="#" class="text-white">當月課表</a></li>
                <li>© 2021. All Rights Reserved.</li>
              </ul>
          </div>
        </div>

      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>