.banner{
    background-image: url(../images/photo-1612157777902-5382bc6e864b.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 560px;
  }
  @media(min-width:768px){
    .banner{
      height: 582px;
    }
  }

  @include media-breakpoint-up(md) {

    .plan-selection{
      .card{
        flex-direction: row;
        div{
          width: 50%;
        }
      }
    }
  }
  
  @include media-breakpoint-up(lg) {

    .plan-selection{
      .card{
        flex-direction: column;
        div{
          width: 100%;
        }
      }
    }
  }

  .object-fit-cover{
    object-fit: cover;
  }