.w{
  &-350{
    width: 350px;
  }
  &-540{
    width: 540px;
  }
  &-445{
    width: 445px;
  }
}

.h-210{
  height: 210px;
  @include media-breakpoint-up(md) { 
    height: 266px;
  }
  @include media-breakpoint-up(md) { 
    height: 444px;
  }
}
.h{
  &-243{
    height: 243px;
  }
  &-196{
     height: 196px;
  }
  &-207{
    height: 207px;
  }
  &-341{
    height: 341px;
  }
  &-420{
    height: 420px;
  }
  &-628{
    height: 628px;
  }
  &-md-266{
    height: 266px;
  }
  &-lg-444{
    height: 444px;
  }
}

.bg-img{
  background-image: url(../../images/teacher-1.png);
  height: 420px;
  width: 100%;
  background-position: center bottom;
  background-size: cover;
}
.z-index{
  z-index: 3;
}
.z-index-999{
  z-index: 999;
}
.courseRecomImg{
      height: 196px;
  @include media-breakpoint-up(md) { 
      height: 161px;
  }
  @include media-breakpoint-up(lg) { 
      height: 196px;
  }
}
.courseRecomImg-width{
  width: 255px;
  @include media-breakpoint-up(md) { 
    width: 210px;
  }
  @include media-breakpoint-up(lg) { 
    width: 255px;
  }
}
.searchWidth{
  width: 231px;
  @include media-breakpoint-up(md) { 
    width: 270px;
  }
  @include media-breakpoint-up(lg) { 
    width: 350px;
  }
}
.courseImgWidth{
    width: 345px;
  @include media-breakpoint-up(md) { 
    width: 330px;
  }
  @include media-breakpoint-up(lg) { 
    width: 540px;
  }
}
.courseImgHeight{
  height: 218px;
  @include media-breakpoint-up(md) { 
    height: 341px;
  }
}
.ms-md-negative-s{
  margin-left: -60px;
}
.ms-lg-negative-l{
  margin-left: -95px;
}
.start-55{
  left: 55px;
}
.banner{
  background-image: url(../images/photo-1612157777902-5382bc6e864b.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  bottom;
  background-attachment: fixed;
  height: 582px;
}
@media(min-width:768px){
  .banner{
    height: 582px;
  }
}
@include media-breakpoint-up(md) {
  .plan-selection{
    .card{
      flex-direction: row;
    }
  }
}
@include media-breakpoint-up(lg) {
  .plan-selection{
    .card{
      flex-direction: column;
      div{
        width: 100%;
      }
    }
  }
}
.logo-img-white{
  background-image: url(../images/DOYOGA-footer.png);
  width: 96px;
  height: 31px;
  text-indent: 101%;
  overflow:hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.logo{
  background-image: url(../images/DOYOGA-logo.png);
  width: 96px;
  height: 31px;
  text-indent: 101%;
  overflow:hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}